<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeepFake Detector</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>

<body>

    <div class="container">

        <div class="logo">Explainable Deepfake Detector</div>

        <h1 class="title">
            Hello, I am <span class="highlight">Atlas!</span>
        </h1>

        <p class="subtitle">
            I help you detect whether your videos are <b>real</b> or <b>fake</b>.
            Advanced multimodal AI at your service.
        </p>

        <a href="/upload" class="btn">Analyze a Video</a>

    </div>

    <div class="footer">
    <i>Jyothis Jo Joseph • Shreyas G</i>
    </div>


</body>
</html>
